:root {
  /* colors */
  --peach: #e7816b;
  --black: #1d1c1e;
  --white: #fff;
  --light-peach: #ffad9b;
  --dark-grey: #333136;
  --light-grey: #f1f3f5;

  /* font weights */
  --regular: 400;
  --medium: 500;

  /* font sizes */
  --h1: 48px;
  --h2: 40px;
  --h3: 20px;
  --body: 16px;
  --button: 15px;
}
