.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}
.container {
  height: 300px;
  width: 300px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(227, 222, 214);
  padding: 10px;
}

.btn {
  margin-top: 5px;
  background-color: rgb(173, 210, 105);
  border-radius: 5px;
}

.image {
  height: 50px;
  width: 50px;
  padding-bottom: 20px;
  display: block;
  margin: auto;
}

.heading {
  text-align: center;
}

form {
  padding: 0 20% 0;
}
.email {
  margin-bottom: 5px;
}

.password {
  margin-bottom: 5px;
}
