.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.test {
  background-color: brown;
}
