main {
  padding: 20px;
  border: 2px solid red;
}

/* div -> CSS Selector */
/* padding -> CSS Property */
/* 10px -> Property value */
/* padding: 10px; -> CSS Declaration */

/* div {
    padding: 10px;
    border: 2px solid red;
  } -> CSS Rule*/
