.layout{
    height: 100vh;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;

}
.card{
    display: flex;
    flex-direction: column;
    width:360px;
    height: fit-content;
    background-color: hsl(0, 0%, 100%);
    border-radius: 3%;
    margin: auto;
    border: 1px solid black;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 9);
   
   
}

.top{
    margin: 12px;
    display: flex;
    flex-direction: column;
    
}

.img{
    border-radius: 8px;

}

.btn{
    margin-top: 12px;
    background-color: hsl(47, 88%, 63%);
    border: none;
    padding: 4px 14px;
    width: fit-content;
    border-radius: 4px;
}
.date{
    margin-top: 16px;
   
}

.bottom{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    
}
.para{
margin: 12px 0;
}

.cardfooter{
    display: flex;
    margin: 20px 0;
}
.personname{
    margin-left: 4px;
}